CREATE TABLE IF NOT EXISTS `holiday` (`date` date NOT NULL, `description` text, PRIMARY KEY (date));
REPLACE INTO `holiday` (`date`,`description`) VALUES 
[%+ FOREACH row IN rows_holiday %]
[% ",\n" UNLESS loop.first %]
('[% row.ymd %]','[% row.name %]')[% %]
[% END %]
;
